<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" *ngIf="currentUser">
                    <a class="nav-link" href="/ggg">ggg</a>
                </li>
            </ul>

            <div *ngIf="!currentUser">
                <form class="d-flex" role="search" #loginForm="ngForm" (submit)="longIn()">
                    <input class="form-control me-2" placeholder="TAIKHOAN" name="taikhoan" type="text" [(ngModel)]="user.username">
                    <input class="form-control me-2" placeholder="MATKHAU" name="matkhau" type="password" [(ngModel)]="user.password">
                    <button class="btn btn-outline-success" type="submit">SignIn</button>
                </form>
            </div>

            <div *ngIf="currentUser" style="color: white;" class="d-flex">
                <p class="mt-2 mb-2 me-2">welcome {{currentUser}}</p>
                <button class="btn btn-outline-danger" (click)="logOut()">Logout</button>
            </div>
        </div>
    </div>
</nav>