<div style="padding-top: 100px;">
    <div class="mb-3">
        <h1>Search</h1>
        <div class="row">
            <input class="col-4" type="text" name="productNameFilter" [(ngModel)]="productInputGetDto.productNameFilter"
                placeholder="ProductName">
            <select class="col-4" name="status" [(ngModel)]="productInputGetDto.status">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <button class="btn btn-outline-primary btn-sm col-2" (click)="getProductList()">Search</button>
        </div>
        <div class="row">
            <input class="col-4" type="datetime-local" name="dateInFrom" [(ngModel)]="productInputGetDto.dateInFrom">
            <input class="col-4" type="datetime-local" name="dateInTo" [(ngModel)]="productInputGetDto.dateInTo">
        </div>

        <div class="row">
            <input class="col-4" type="datetime-local" name="dateOutFrom" [(ngModel)]="productInputGetDto.dateOutFrom">
            <input class="col-4" type="datetime-local" name="dateOutTo" [(ngModel)]="productInputGetDto.dateOutTo">
        </div>
    </div>

    <div class="mb-3">
        <table style="width: 100%;">
            <tr>
                <th>STT</th>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>Status</th>
                <th>DateIn</th>
                <th>DateOut</th>
                <th>Quantity</th>
            </tr>
            <tr class="selectable" *ngFor="let product of products; let i = index" (click)="truyen(product, i)">
                <td>{{i+1}}</td>
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.status}}</td>
                <td>{{product.dateIn | date:'MM/dd/yyyy HH:mm'}}</td>
                <td>{{product.dateOut | date:'MM/dd/yyyy HH:mm'}}</td>
                <td>{{product.quantity}}</td>
            </tr>
        </table>
    </div>

    <div class="mb-3">
        <button class="btn btn-success btn-sm me-1" [disabled]="this.productInputPostDto.productId"
            (click)="createOrEditProduct()">Create</button>
        <button class="btn btn-info btn-sm me-1" (click)="clearChoice()"
            [disabled]="!this.productInputPostDto.productId">Clear</button>
        <button class="btn btn-secondary btn-sm me-1" [disabled]="!this.productInputPostDto.productId"
            (click)="createOrEditProduct()">Save</button>
        <button class="btn btn-danger btn-sm  me-1" [disabled]="!this.productInputPostDto.productId"
            (click)="deleteProduct()">Delete</button>
    </div>

    <div class="mb-3">
        <h1 *ngIf="!this.productInputPostDto.productId">Create</h1>
        <h1 *ngIf="this.productInputPostDto.productId">Edit</h1>
        <div class="row">
            <input class="col-4" type="text" name="productName" [(ngModel)]="productInputPostDto.productName" placeholder="ProductName">
            <select class="col-4" name="status" [(ngModel)]="productInputPostDto.status" (change)="onStatusChange($event)">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <input class="col-4" type="number" name="quantity" [(ngModel)]="productInputPostDto.quantity">
        </div>
        <div class="row">
            <input class="col-6" type="datetime-local" name="dateIn" [(ngModel)]="productInputPostDto.dateIn">
            <input class="col-6" type="datetime-local" name="dateOut" [(ngModel)]="productInputPostDto.dateOut">
        </div>

    </div>
</div>