<hr>
<h1>Thống kê</h1>
<hr>
Năm
<input type="number" name="year" min="1000" max="9999" [(ngModel)]="year" (change)="createURL()">
Đơn vị tiền tệ
<select name="unitOfCurrency" (change)="createURL()" [(ngModel)]="unitOfCurrency">
    <option *ngFor="let unitOfCurrency of ProductUnitOfCurrency" [value]="unitOfCurrency">{{unitOfCurrency}}</option>
</select>
<br>
<iframe [src]="safeURL" frameborder="1" width="80%" height="325px"></iframe>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">DuriuStudio</a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Duriu</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li>Contact:</li>
        <li class="ms-3"><a target="_blank" href="https://discord.gg/7Evqn6NAYW">Discock</a></li>
        <li class="ms-3"><a target="_blank" href="https://www.facebook.com/duriustudio">FaceBook</a></li>
    </ul>
</footer>

<canvas id="live2d" width="560" height="600" class="live2d" style="position: fixed; bottom: 0px; right: 100px; width: 25%;"></canvas>