* {
    box-sizing: border-box;
    list-style: none;
}

input {
    border-radius: 5px;
}

select {
    border-radius: 5px;
    border: 2px solid black;
}

.select-able:hover {
    background-color: var(--selectAble);
}
.selected {
    background-color: var(--selected);
}

.btn-search {
    border: 2px solid var(--searchColor);
    color: var(--searchColor);
    border-radius: 5px;
    background: none;
}
.btn-search:hover {
    background: var(--searchColorHover);
}

.btn-add {
    border: 2px solid var(--addColor);
    color: var(--addColor);
    border-radius: 5px;
    background: none;
}
.btn-add:hover {
    background: var(--addColorHover);
}

.btn-edit {
    border: 2px solid var(--editColor);
    color: var(--editColor);
    border-radius: 5px;
    background: none;
}
.btn-edit:hover {
    background: var(--editColorHover);
}

.btn-clear {
    border: 2px solid var(--clearColor);
    color: var(--clearColor);
    border-radius: 5px;
    background: none;
}
.btn-clear:hover {
    background: var(--clearColorHover);
}

.btn-delete {
    border: 2px solid var(--deleteColor);
    color: var(--deleteColor);
    border-radius: 5px;
    background: none;
}
.btn-delete:hover {
    background: var(--deleteColorHover);
}

button:disabled,
button[disabled]{
    filter: grayscale(75%);
    background-color: #cccccc1f;
}

.work-space {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 56px;
    width: 100%;
    height: 100%;
}

.category-bar {
    background: rgb(33, 37, 41);
    color: #ffffff;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    text-align: start;
}

#Category {
    padding-right: 15px;
    text-align: end;
}

.category-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.category-item-index {
    width: 8%;
    margin: 1%;
}

.category-item-name {
    width: 64%;
    margin: 1%;
}

#categoryName {
    width: 98%;
    margin: 1%;
}

.category-item-btn {
    width: 10%;
    margin: 1%;
}

.product-content {
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}

#Product, .product-search, .product-table, .product-action {
    padding-left: 15px;
}

.product-search-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-search-item {
    margin: 2px;
}

.product-search-item.name {
    width: 110px;
}

.product-search-item.ipt {
    width: 275px;
    display: flex;
}

.product-search-item.ipt * {
    width: 235px;
    align-self: start;
}