<div style="padding-top: 100px;">
    <div class="mb-3 d-flex">
        <input type="text" class="col-3" name="productNameFilter" [(ngModel)]="productNameFilter" placeholder="ProductName">
        <select name="" class="col-3" [(ngModel)]="status">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        <input type="datetime-local" class="col-3" name="dateInFrom" [(ngModel)]="dateInFrom">
        <input type="datetime-local" class="col-3" name="nameInTo" [(ngModel)]="dateInTo">
        <button class="btn btn-outline-primary btn-sm" (click)="getProductList()">Search</button>
    </div>

    <table class="mb-3">
        <tr>
            <th>STT</th>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Status</th>
            <th>DateIn</th>
            <th>DateOut</th>
            <th>Quantity</th>
        </tr>
        <tr class="selectable" *ngFor="let product of products; let i = index" (click)="truyen(product, i)">
            <td>{{i+1}}</td>
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.status}}</td>
            <td>{{product.dateIn | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>{{product.dateOut | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>{{product.quantity}}</td>
        </tr>
    </table>

    <div class="mb-3">
        <button class="btn btn-outline-success btn-sm me-1" [disabled]="this.productPost.productId">Create</button>
        <button class="btn btn-outline-info btn-sm me-1" (click)="clearChoice()" [disabled]="!this.productPost.productId">Clear</button>
        <button class="btn btn-outline-secondary btn-sm me-1" [disabled]="!this.productPost.productId">Edit</button>
        <button class="btn btn-outline-danger btn-sm  me-1" [disabled]="!this.productPost.productId">Delete</button>
    </div>
</div>