<main class="d-flex flex-nowrap" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px;">
        <hr style="margin-top: 49px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li *ngFor="let category of categorys">
                <a [href]="'/workspace/' + category.categoryId" class="nav-link text-white">► {{category.categoryName}}</a>
            </li>
        </ul>
        <hr>
    </div>
    <div class="b-example-vr"></div>
    <router-outlet></router-outlet>
</main>