/* You can add global styles to this file, and also import other style files */
table, th, td {
    border: 1px solid black;
}

:root {
    --searchColor: #0000ff;
    --searchColorHover: #0000ff19;
    --addColor: #0fff00;
    --addColorHover: #0fff0019;
    --editColor: #ffaa00;
    --editColorHover: #ffaa0019;
    --clearColor: #0091ff;
    --clearColorHover: #0091ff19;
    --deleteColor: #ff0000;
    --deleteColorHover: #ff000019;
    --selectAble: #80808088;
    --selected: #808080b2;
}